<ul class="channelsList">
    <li
        class="channel"
        *ngFor="let channel of channels"
        (mouseenter)="onChannelMouseEnter(channel.name)"
        (mouseleave)="onChannelMouseLeave(channel.name)"
    >
        <app-checkbox
            [color]="channel.color"
            [text]="channel.name"
            [isChecked]="selectedChannels.includes(channel.name)"
            (toggle)="onToggle(channel.name)"
        ></app-checkbox>
    </li>
</ul>
