<svg #svg class="wrap" [attr.width]="width" [attr.height]="height">
    <g [attr.transform]="'translate(' + width / 2 + ',' + height / 2 + ')'">
        <circle class="radialScale" cx="0" cy="0" [attr.r]="scaleRadius" />
        <g class="scaleLine" *ngFor="let line of diagonals">
            <line [attr.x1]="line.x1" [attr.y1]="line.y1" [attr.x2]="line.x2" [attr.y2]="line.y2" />
            <text
                class="scaleMaxValue"
                [attr.x]="line.scaleValueX"
                [attr.y]="line.scaleValueY"
                [attr.text-anchor]="line.nameTextAnchor"
                [attr.alignment-baseline]="line.nameTextAlignmentBaseline"
            >
                {{ line.maxValue }}
            </text>
            <text
                class="scaleName"
                [attr.x]="line.x2"
                [attr.y]="line.y2"
                [attr.text-anchor]="line.nameTextAnchor"
                [attr.alignment-baseline]="line.nameTextAlignmentBaseline"
            >
                {{ line.name }}
            </text>
        </g>
        <g class="channel" *ngFor="let path of getVisibleChannelsPaths()">
            <path
                class="channelPath"
                [class.focused]="path.name === focusedChannelName"
                [attr.d]="path.path"
                [attr.fill]="path.color"
                (mouseenter)="onMouseEnter(path.name)"
                (mouseleave)="onMouseLeave(path.name)"
            />
        </g>
    </g>
</svg>
<app-channels-list
    [channels]="channelsData"
    [selectedChannels]="selectedChannelsNames"
    (toggle)="onToggleChannel($event)"
    (channelMouseEnter)="onMouseEnter($event)"
    (channelMouseLeave)="onMouseLeave($event)"
></app-channels-list>
<span class="channelName" [ngStyle]="mouse">
    {{ focusedChannelName }}
</span>
