.wrap {
    max-width: 100%;
}

.channelPath {
    opacity: 0.3;
}

.channelPath.focused {
    opacity: 1;
    transition: opacity 0.2s;
}

.channelName {
    position: absolute;
    color: rgba(255, 255, 255, 0.3);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.radialScale {
    stroke: rgba(255, 255, 255, 0.3);
}

.scaleName,
.scaleMaxValue {
    fill: #fff;
}

.scaleLine {
    stroke-width: 1px;
    stroke: rgba(255, 255, 255, 0.3);
}
