.checkbox {
    opacity: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;
}

.label {
    position: relative;
    padding-top: 1px;
    padding-left: 28px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.icon {
    position: absolute;
    display: block;
    left: 2px;
    top: 2px;
    width: 20px;
    height: 20px;
}
