/* You can add global styles to this file, and also import other style files */
html,
body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
